@import "base";


.product {
  padding: 15px 40px;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
  &__preview {
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    transition: background 0.1s ease-in-out;
    //&:hover {
    //  background: #f7f7f7;
    //}
    &-image {
      width: 100%;
      padding: 0 10%;
      height: 300px;
      object-fit: contain;
    }
    &-firstline {
      display: flex;
      justify-content: end;
    }
    &-priceline {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      & p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
      }
      & span {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
      }
    }
    &-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 21px;
      padding-bottom: 10px;
    }
  }
}

.firstline {
  &__icon {
    width: 15%;
    padding: 0 2%;
  }
}

.priceline {
  &__optom {
    text-align: left;
    color: #E66DCB;
  }
  &__default {
    text-align: right;
    color: #6A6A6A;
  }
}

.product-preview {
  padding: 15px 10px;
}