{% extends "base.html" %}

{% block main %}
<script type="text/javascript" src="{{url_for('static', filename='js/JQuery.min.js')}}"></script>
<h1 class="cart__title">Ваша корзина</h1>

<div class="cart-header">
    <p class="cart-header__name">Товар</p>
    <p class="cart-header__price">Цена</p>
    <p class="cart-header__price">Количество</p>
    <p class="cart-header__all">Всего</p>
</div>
<div class="cart">
    {% if cart and cart.orders|length %}
    {% for ord in cart.orders.keys() %}
    <div class="cart__aligner" id="cart_elem_{{ord}}">
        <img class="cart__image" src="" id="image_{{ord}}">
        <p class="cart__name" id="name_{{ord}}"></p>
        <p class="cart__price" id="price_{{ord}}"></p>
        <div class="item__count">
            <div class="item__count-button" onclick="decrement({{ord}})">-</div>
            <input class="item__count-number" type="text" value="" id="number_{{ord}}">
            <div class="item__count-button" onclick="increment({{ord}})">+</div>
        </div>
        <p class="cart__price" id="full_price_{{ord}}">{{(cart["orders"][ord][0] * cart["orders"][ord][1])|round(1)}}</p>
        <button class="cart__remove" onclick="delete_elem({{ord}})"><img src="/static/img/Cross.svg" alt="крестик"></button>
    </div>
    {% endfor %}
    {% endif %}
</div>

    <div class="summary">
        {% if cart %}
        <div class="summary__line">
            <p class="summary__text">Товары на сумму</p>
            <p class="summary__text" id="total_cost">{{cart.total_cost|round(1)}}</p>
        </div>
        <div class="summary__line">
            <p class="summary__text">Доставка</p>
            <p class="summary__text" id="deliver">0</p>
        </div>
        <hr>
        <div class="summary__line">
            <p class="summary__big">Всего</p>
            <p class="summary__total" id="total_cost_and_deliver">{{cart.total_cost|round(1)}}</p>
        </div>
        {% else %}
        <div class="summary__line">
            <p class="summary__text">Товары на сумму</p>
            <p class="summary__text">0</p>
        </div>
        <div class="summary__line">
            <p class="summary__text">Доставка</p>
            <p class="summary__text">0</p>
        </div>
        <hr>
        <div class="summary__line">
            <p class="summary__big">Всего</p>
            <p class="summary__total">0</p>
        </div>
        {% endif %}
    </div>

    <div class="action">
        <a href="/"><button class="item__to-basket">Вернуться в магазин</button></a>
        <a href="/place-an-order"><button class="item__to-basket">Оформить заказ</button></a>
    </div>
{% if cart and cart.orders|length %}
<script>
    var products, count_start = {}, sArr = {};
    function get_all_products () {
        var data = new Array();
        {% for ord in cart.orders.keys() %}
            data.push({{ord}});
            count_start["{{ord}}"] = {{cart.orders[ord][0]}};
            sArr["{{ord}}"] = document.getElementById("number_{{ord}}");
        {% endfor %}
        $.post( "/load-all-products", {
            canvas_data: JSON.stringify({indexes: data})
        }, function(err, req, resp){
            products = $.parseJSON(resp.responseText);
        });
    }
    get_all_products();
    let check = setInterval(productsStatus, 10);
    function productsStatus() {
        if (products) {
            products.forEach(elem => load_prod(elem));
            clearInterval(check);
        }
    }

    function load_prod(prod) {
        // console.log(document.getElementById("image_"+prod.id));
        document.getElementById("image_"+prod.id).src = prod.image;
        document.getElementById("name_"+prod.id).innerText = prod.name;
        document.getElementById("price_"+prod.id).innerText = prod.good_price;
        document.getElementById("number_"+prod.id).value = count_start[prod.id];
    }

    function delete_elem(id) {
        sArr[id].value = 0;
        ChangeCountInCard(id);
        //console.log(document.getElementById("cart_elem_"+id));
        document.getElementById("cart_elem_"+id).remove();
    }

    function increment(id) {
        if (sArr[id].value < 999) {
            sArr[id].value++;
        }
        ChangeCountInCard(id);
    }

    function decrement(id) {
        if (sArr[id].value > 0) {
            sArr[id].value--;
        }
        ChangeCountInCard(id);
    }

    {% for ord in cart.orders.keys() %}
        sArr[{{ord}}].addEventListener('input', function (e) {
            var x = e.target.value.split(/\D/).join("");
            if (x.length == 0) {
                x = 0;
            } else if (x.length > 3) {
                x = 999;
            } else if (x < 0) {
                x = 0;
            }
            e.target.value = parseInt(x);
            ChangeCountInCard({{ord}});
        });
    {% endfor %}

    function ChangeCountInCard(id) {
        $.post( "/change-count-in-basket", {
            canvas_data: JSON.stringify({prod_id: id, count: parseInt(sArr[id].value) - count_start[id]})
        }, function(err, req, resp){
            ans = $.parseJSON(resp.responseText);
            cart.innerText = ans.total_count;
            document.getElementById("total_cost").innerText = Math.round(ans.total_cost);
            document.getElementById("total_cost_and_deliver").innerText = Math.round(ans.total_cost);
            if (id in ans.orders) {
                count_start[id] = ans.orders[id][0];
                document.getElementById("full_price_"+id).innerText = Math.round(ans.orders[id][0] * ans.orders[id][1]);
            } else {
                count_start[id] = 0;
                document.getElementById("full_price_"+id).innerText = 0;
            }
        });
    }
</script>
{% endif %}
{% endblock %}