{% extends "base.html" %}

{% block stylename %}catalog{% endblock %}

{% block main %}
<script type="text/javascript" src="{{url_for('static', filename='js/JQuery.min.js')}}"></script>

<style>
.wrapper {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.progress__line {
    background-color: #E66DCB;
    bottom: 0;
    color: fff;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.progress__line-bg {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.brakovannaya_paginaciya {

}

</style>

<div class="product">
    <div class="product__grid" id="products">
        {% for i in range(products|length) %}
        {% set prod = products[i]%}
        <div class="product__preview hidden">
            <a href="/product/{{prod.id}}">
                <img src="{{prod.image}}" alt="" class="product__preview-image">
            </a>
            <div class="progress">
                <div class="progress__line-bg">
                    <div class="progress__line" id="progress__line_{{prod.id}}"></div>
                </div>
            </div>
            <script>
                function progress () {
                    $.post( "/load-order", {
                        canvas_data: JSON.stringify({prod_id: {{prod.id}}, good_count: {{prod.good_count}}})
                    }, function(err, req, resp){
                        progress_bar($.parseJSON(resp.responseText));
                    });
                }

                function progress_bar (ans) {
                    let elem = document.getElementById('progress__line_' + ans.prod_id),
                        width = 0,
                        max = ans["max"],
                        id = setInterval(progressStatus, 1);
                        function progressStatus() {
                            elem.innerHTML = ans.current + "/" + ans.max;
                            if (width >= 100 * ans.current / ans.max) {
                                clearInterval(id);
                            } else {
                                width = width + 0.5;
                                elem.style.width = width + '%';
                            }
                        }
                }
                progress();

            </script>
            <div class="product__preview-firstline">
                <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon" onclick="ToCart({{prod.id}})">
            </div>
            <p class="product__preview-title">{{prod.name}}</p>

            <div class="product__preview-priceline">
                <div class="priceline__optom">
                    <p>Оптовая цена</p>
                    <span>{{ prod.good_price }}₽</span>
                </div>
                <div class="priceline__default">
                    <p>Цена без скидки</p>
                    <span>{{ prod.bad_price }}₽</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination" id="pagination">
    <p class="pagination__text">Страницы:</p>
    {% for i in range(1, pages|length + 1) %}
        {% if i == 1 %}
            <button class="pagination__button active" id="1" onclick="openPage({{ i }})">{{i}}</button>
        {% else %}
            <button class="pagination__button" id="{{ i }}" onclick="openPage({{ i }})">{{i}}</button>
        {% endif %}
    {% endfor %}
</div>

<script>
function ToCart(id) {
    $.post( "/change-count-in-basket", {
        canvas_data: JSON.stringify({prod_id: id, count: 1})
    }, function(err, req, resp){
        ans = $.parseJSON(resp.responseText)
        console.log(ans);
        progress_bar(ans);
        // count_in_basket(ans['total_count'])
        // update_slider(id, ans[id]['count'], ans[id]['cost'], ans[id]['saving'])
        // update_total(ans['total_count'], ans["total_cost"], ans['total_saving'])
        // set_button_state(id, true)
    });
}

function progress_bar (ans) {
    let width = 100 * (ans.old) / ans.max;
    if (ans.current == 0 && ans.old != 0) {
        ans.current = ans.max;
    }
    let elem = document.getElementById('progress__line_' + ans.prod_id),
        max = ans["max"],
        id = setInterval(progressStatus, 1);
        function progressStatus() {
            if (width >= 100 * ans.current / ans.max) {
                clearInterval(id);
            } else {
                width = width + 1;
                elem.style.width = width + '%';
                elem.innerHTML = ans.current + "/" + ans.max;
            }
        }
}

</script>
<script type="text/javascript" src="{{url_for('static', filename='js/openPage.js')}}"></script>
{% endblock %}