{% extends "base.html" %}

{% block stylename %}catalog{% endblock %}

{% block main %}
    <div class="product">
        <div class="product__grid">
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
            <div class="product__preview">
                <img src="/static/img/products/product.png" alt="" class="product__preview-image">

                <div class="product__preview-firstline">
                    <img src="/static/img/header/favourite.svg" alt="" class="firstline__icon">
                    <img src="/static/img/header/cart1.svg" alt="" class="firstline__icon">
                </div>

                <div class="product__preview-priceline">
                    <div class="priceline__optom">
                        <p>Оптовая цена</p>
                        <span>{{ "159" }}₽</span>
                    </div>
                    <div class="priceline__default">
                        <p>Цена без скидки</p>
                        <span>{{ "113 374" }}₽</span>
                    </div>
                </div>

                <p class="product__preview-title">Летние шорты для малышей, однотонное моющееся нижнее белье</p>
            </div>
        </div>
    </div>
{% endblock %}