{% extends "base.html" %}

{% block main %}
    <div class="item">
        <img class="item__image" src="{{product.image}}" alt={{product.name}}>
        <div class="item__info">
            <h1 class="item__name">{{product.name}}</h1>
            <p class="item__price"><span>Оптовая цена</span><br>{{ product.good_price }} ₽</p>
            <div class="item__flex">
                <div class="item__count">
                    <div class="item__count-button">-</div>
                    <div class="item__count-number" id="number">1</div>
                    <div class="item__count-button">+</div>
                </div>
                <button class="item__to-basket">В корзину</button>
            </div>
            <p class="item__date-delivery">Доставка ориентировочно 29 сентября - 13 октября</p>
            <hr>
            <p class="item__description">{{product.description}}</p>
            <hr>
<!--            <p class="item__small-name">SKU: V6 4K</p>-->
<!--            <p class="item__category">Категории: <span>Электроника, Фото и видеокамеры, Экшн-камеры</span></p>-->
            <ul>
                {% for elem in product.specifications.split("@#@#@") %}
                    <li>{{elem.split("@!@!@")[0]}} ---- {{elem.split("@!@!@")[1]}}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    </div>
    <div class="description">
        <div class="description__nav">
            <p class="description__title">Описание</p>
        </div>
        <hr>
        <p class="description__subtitle">Общие характеристики</p>
        <p class="description__text">Угол обзора 170гр. широкоформатный режим видео</p>
    </div>
{% endblock %}
