{% extends "base.html" %}

{% block main %}
<script type="text/javascript" src="{{url_for('static', filename='js/JQuery.min.js')}}"></script>

<div class="item">
    <img class="item__image" src="{{product.image}}" alt={{product.name}}>
    <div class="item__info">
        <h1 class="item__name">{{product.name}}</h1>
        <p class="item__price"><span>Оптовая цена</span><br>{{ product.good_price }} ₽</p>
        <div class="item__flex">
            <div class="item__count">
                <div class="item__count-button" onclick="decrement()">-</div>
                {% if cart and product.id|string in cart['orders'] %}
                <input class="item__count-number" type="text" value="{{cart['orders'][product.id|string][0]}}" id="number">
                {% else %}
                <input class="item__count-number" type="text" value="0" id="number">
                {% endif %}
                <div class="item__count-button" onclick="increment()">+</div>
            </div>
            <a href="/cart"><button class="item__to-basket">В корзину</button></a>
        </div>
        <p class="item__date-delivery">Доставка ориентировочно 29 сентября - 13 октября</p>
        <hr>
        <p class="item__description">{{product.description}}</p>
        <hr>
        <!--            <p class="item__small-name">SKU: V6 4K</p>-->
        <!--            <p class="item__category">Категории: <span>Электроника, Фото и видеокамеры, Экшн-камеры</span></p>-->
        <div class="params-description">
            <div class="params-description__column">
                {% set product_list = product.specifications.split("@#@#@") %}
                {% for i in range(product_list|length) %}
                    {% if i % 2 == 0 %}
                    {% set elem = product_list[i] %}
                    <div class="params-description__line">
                        <p class="params-description__param">{{elem.split("@!@!@")[0]}}</p> <p class="params-description__value">{{elem.split("@!@!@")[1]}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="params-description__column">
                {% for i in range(product_list|length) %}
                    {% if i % 2 %}
                    {% set elem = product_list[i] %}
                    <div class="params-description__line">
                        <p class="params-description__param">{{elem.split("@!@!@")[0]}}</p> <p class="params-description__value">{{elem.split("@!@!@")[1]}}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
{#        <hr>#}
    </div>
</div>
{#<div class="description">#}
{#    <div class="description__nav">#}
{#        <p class="description__title">Описание</p>#}
{#    </div>#}
{#    <hr>#}
{#    <p class="description__subtitle">Общие характеристики</p>#}
{#    <p class="description__text">Угол обзора 170гр. широкоформатный режим видео</p>#}
{#</div>#}
<script>
    var s = document.getElementById("number");
    let count_start = s.value;

    function ChangeCountInCard(id) {
        $.post( "/change-count-in-basket", {
            canvas_data: JSON.stringify({prod_id: id, count: parseInt(s.value) - count_start})
        }, function(err, req, resp){
            ans = $.parseJSON(resp.responseText);
            cart.innerText = ans.total_count;
            if (id in ans.orders) { count_start = ans.orders[id][0]; }
            // progress_bar(cart);
        });
    }

    function increment() {
        if (s.value < 999) {
            s.value++;
        }
        ChangeCountInCard({{product.id}});
    }

    function decrement() {
        if (s.value > 0) {
            s.value--;
        }
        ChangeCountInCard({{product.id}});
    }

    s.addEventListener('input', function (e) {
        var x = e.target.value.split(/\D/).join("");
        if (x.length == 0) {
            x = 0;
        } else if (x.length > 3) {
            x = 999;
        } else if (x < 0) {
            x = 0;
        }
      e.target.value = parseInt(x);
      ChangeCountInCard({{product.id}});
    });
</script>
{% endblock %}
