{% extends "base.html" %}

{% block stylename %}catalog{% endblock %}

{% block main %}
<script type="text/javascript" src="{{url_for('static', filename='js/JQuery.min.js')}}"></script>
<style>
.orders_list {
    display: flex;
}
</style>
<div>
    <div><br>
        {% for order in orders %}
        <div class="orders_list">
            <img class="cart__image" src="{{order.product.image}}">
            <p class="cart__name">{{order.product.name}}</p>
            {% if order.status == 0 %}
            <p class="cart__name">{{order.current}} / {{order.max}} покупателей</p>
            {% elif order.status == 1 %}
            <p class="cart__name">В обработке</p>
            {% elif order.status == 2 %}
            <p class="cart__name">В процессе доставки</p>
            {% else %}
            <p class="cart__name">Выполнен</p>
            {% endif %}
            <p class="cart__name">{{order.user_count}}</p>
            <p class="cart__name">{{order.user_price}}</p>
            {% if order.status == 0 %}
            <a href="/order/edit/{{order.id}}"><button class="item__to-basket">изменить</button></a>
            {% endif %}
<!--            <a href="/order/{{order.id}}"><button class="item__to-basket">подробнее</button></a>-->
        </div><br>
        {% endfor %}
    </div>
</div>
{% endblock %}