{% extends "base.html" %}

{% block main %}
<div class="profile">
    <div class="profile__first-column">
        <p class="profile__hello">
            Привет!<br>
            suda_pochty@niki.sdelaet
        </p>
        <div class="profile__navigation">
            <a href="/profile/tudi">
                <div class="profile__navigation-link">
                    <img src="/static/img/profile.svg" alt="профиль">
                    <p>Учётная запись</p>
                </div>
            </a>
            <a href="/profile/sudi">
                <div class="profile__navigation-link">
                    <img src="/static/img/edit.svg" alt="редактировать">
                    <p>Обновить профиль</p>
                </div>
            </a>
            <a href="/profile/obratno">
                <div class="profile__navigation-link">
                    <img src="/static/img/orders.svg" alt="список">
                    <p>Заказы</p>
                </div>
            </a>
            <a href="/profile/obratno">
                <div class="profile__navigation-link">
                    <img src="/static/img/map.svg" alt="список">
                    <p>Адрес доставки</p>
                </div>
            </a>
            <a href="/logout">
                <div class="profile__navigation-link">
                    <img src="/static/img/exit.svg" alt="выключатель">
                    <p>Выход</p>
                </div>
            </a>
        </div>
    </div>
    <div class="profile__second-column">
        {% block profile %}
        {% endblock %}
    </div>
</div>
{% endblock %}