{% extends "base.html" %}

{% block stylename %}catalog{% endblock %}

{% block main %}
<div class="aligner">
    <div class="wrapper">
        <form action="" method="post">
            <h2>Регистрация</h2>
            <h1>{{ message }}</h1>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {{ form.fullname(class="form-control", placeholder="Ваш имя") }}<br>
            {% for error in form.fullname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            {{ form.phone(class="form-control", placeholder="ваш номер телефона") }}<br>
            {% for error in form.phone.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            {{ form.email(class="form-control", type="email", placeholder="Ваш Email") }}<br>
            {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            {{ form.password(class="form-control", type="password", placeholder="Пароль") }}<br>
            {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}n
            </p>
            {% endfor %}
            {{ form.password_again(class="form-control", type="password", placeholder="Повторите пароль") }}<br>
            {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
            <div class="submit-block">
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </form>
        <p>У Вас уже есть аккаунт? <a href='/login'>Войти</a></p>
    </div>
</div>
{% endblock %}